.board{
    margin: auto;
    background: #ddd;
    overflow: hidden;
    border: 2px solid #000;}

    .cell {
        width: 30px;
        height: 30px;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
    }

    .body-cell{
        width: 30px;
        height: 30px;
        float: left;
        overflow: hidden;
        box-sizing: border-box;

    }


    .food-cell{
        width: 30px;
        height: 30px;
        float: left;
        overflow: hidden;
        box-sizing: border-box;

    }

    .body-cell{
  background: blue;
  
    }


    .food-cell{
        background: red;
    }